#login-snow {
    width: 250px;
    height: 100px;
    margin-top: 40%;
    margin-left: 1rem;
}

.whitten{
    color: white;
    margin: 1rem 0.5rem;
}

#login-butt{
    margin: '5px 0';
    /* width: 'auto'; */
    width: 300px;
    max-width: 400px;
    /* align-items: center; */
    /* justify-content: center; */
}
